<footer class="footer">
    <div class="content has-text-centered">
        <div>
            <p>
                &copy; @DateTime.Now.Year Academia Espacial Mesopotomia, RIF: J-XXXXX-X.
                SOLO PARA USO INTERNO.
            </p>
        </div>
    </div>
</footer>