@if (isLoaded)
{
    @ChildContent
}
else
{
    <div class="pageloader is-active"><span class="title">Cargando...</span></div>
}

@code {
    bool isLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000); // TODO actual initialization job
        isLoaded = true;
    }
}