@inherits LayoutComponentBase

<PageTitle>Academia Espacial Mesopotamia</PageTitle>

<NavMenu />
<hr />
<br />
<div class="container is-fullhd">
    <div class="box">
        @Body
    </div>

</div>
<br />
<hr />
<Footer/>
